.box{
  width: 50%;
  height: auto;
}
.tainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.con{
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  height: 30%;
  margin-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}
.con img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.con span{
  color: #0047AB;
  cursor: pointer;
}
.but{
  display: flex;
  justify-content: center;
  align-items: center;
}
.but button{
  width: 25%;
  text-align: center;
  background-color: #fff;
  border: 1px solid #EE4B2B;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  color: #800020;
  font-size: 15px;
  border-radius: 0.3em;

}
.but button:hover{
  background-color: aliceblue;
}
h2{
  font-size: 50px;
  text-align: center;
  text-decoration: underline 5px  #0047AB;
}
h1{
  font-size: 32px;
}